.game-container {
    width: 60%;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    padding: 15px;
}

.game-info {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.winnerImg {
    width: 300px
}